// contains global styles, such as resets, typography, colors, etc.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800');

// Colors
    $primary-blue:#003399;
    $secondary-blue:#216ddf;
    $accent-blue: #00CCCC;
    $light-gray: #BEBEBE;
    $med-gray: #F6F6F6;
    $dark-gray: #333333;
    $border-color: #ECECEC;
    
    

// Fonts
    $main-font:'Open Sans', sans-serif;
    $regular: 400;
    $regular-italic: 400i;
    $semi-bold: 600;
    $bold: 700;
    $extra-bold: 800;




    #app {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    min-width: 475px;
}